/* You can add global styles to this file, and also import other style files */
@import '~foundation-sites/dist/css/foundation.min.css';
@import '~ngx-foundation/dist/css/ngx-foundation.min.css';

div {
  margin: 0.6em;
}

a:hover {
  text-decoration: underline;
}

.msg {
  color:#C4655E;
  font-weight: bold;
}

* {
  color: #2A3335;
}
