.scroller{
    display: block;
    overflow: auto;
    height: 75vh;
}

.scroller tr td{
    width: 100%;
}

input.checkbox{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 0px;
    margin-top: 0px;
}

[type="checkbox"]{
    vertical-align: middle;
}


