
<div class="col-md-2">
<table class="table">

    <thead>
        <tr>
            <th colspan="2" style="text-align: center;">Files</th>
        </tr>
    </thead>
    
    <tbody class="scroller">
        <tr *ngFor="let file of Files; let i = index">
            <td>{{ name(file.file) }}</td>
            <!-- <td>
                <mat-checkbox></mat-checkbox>
            </td> -->

            <td style="white-space:nowrap">
                <input type="checkbox" class="checkbox" [checked]="complete[i]" (click)="updatecheckall(i)">
            </td>

            <td style="white-space:nowrap">
                <button type="button" class="btn btn-danger btn-xs" (click)="delete(file)" >
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
            </td>
        </tr>
    </tbody>

    <tfoot>
        <tr>
            <td style="white-space:nowrap;  text-align: center;">
                <input type="checkbox" class="checkbox" id="allfile" [checked]="allComplete" (click)="toggleall();">
                <label for="allfile">Select All</label>

                <!-- <mat-checkbox class="example-margin"
                  [checked]="allComplete"
                  [indeterminate]="someComplete()"
                  (change)="setAll($event.checked)">
                    Select All
                </mat-checkbox> -->
                <button type="button" class="btn btn-danger btn-s" (click)="deleteall()" [disabled]="!Files || Files.length == 0" >
                    <span class="glyphicon glyphicon-trash"></span>Remove all
                </button>                
            </td>
        </tr>
    </tfoot>

</table>
</div>