<div style="text-align: center; margin:2em;">
  <h2> Red Plag: Plaigarism Checker </h2>
  <h3> CS 251: Software Systems Lab (Autumn 2020) </h3> <br>
  <p> Hi! We are team CodingForSenpai, and this is the home page of the
    rudimentary copy checker we are building as a course project for CS 251. </p>
  <table class="tcenter">
      <tr>
          <td>Rahul Prajapat</td>
          <td>Md Kamran</td>
          <td>Pranjal Beniwal</td>
          <td>Shabnam Sahay</td>
      </tr>
      <tr>
          <td>190050095</td>
          <td>190050066</td>
          <td>190050091</td>
          <td>190050111</td>
      </tr>
    </table> <br>
    <p> Click <a  routerLink="/filework">here</a> to go to the interface that allows uploading files to be checked. </p>
</div>
