.scroller{
    display: block;
    overflow: auto;
    height: 5.5vh;
}

.scroller tr td{
    width: 100%;
}

.fileUpload {
    position: relative;
    overflow: hidden;
    margin-top: -2px;
  }

.fileUpload input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
  }

.my-drop-zone { 
    border: dotted 3px lightgray; 
}
.nv-file-over { 
    border: dotted 3px red; 
}

.disableDiv{
    cursor: not-allowed;
    opacity: 0.7;
}

.disableDiv input{
    pointer-events:none;
}

.toggle { 
    position : relative ; 
    display : inline-block; 
    width : 50px; 
    height : 20px; 
    background-color: #ccc; 
    border-radius: 34px
} 
        
/* After slide changes */
.toggle:after { 
    content: ''; 
    position: absolute; 
    width: 25px; 
    height: 20px; 
    border-radius: 50%; 
    background-color: gray; 
    top: 1px;  
    left: 1px; 
    transition:  all 0.5s; 
} 
        
/* Toggle text */
        
/* Checkbox cheked effect */
.checkbox:checked + .toggle::after { 
    left : 25px;  
} 
        
/* Checkbox cheked toggle label bg color */
.checkbox:checked + .toggle { 
    background-color: #2196F3; 
} 
        
/* Checkbox vanished */
.checkbox {  
    display : none; 
} 

